---
title: '빅분기 실기 - 1유형 문제풀이'
author: 'Hyunsoo Kim'
date: '2023-10-19'
categories: [Python, Pandas, Numpy]
jupyter: python3
page-layout: full
---

> 실기 1 유형

- 출처 : [MetaCodeM](https://www.youtube.com/watch?v=qh09KQOMMFs)
- 참고 : [시험환경 체험](https://dataq.goorm.io/exam/116674/%EC%B2%B4%ED%97%98%ED%95%98%EA%B8%B0/quiz/1)

# 1유형 문제풀이

## &#9989; 데이터 다루기 유형

> 1. 데이터 타입(object, int, float, bool 등)
> 2. 기초통계량(평균, 중앙값, 사분위수, IQR, 표준편차 등)
> 3. 데이터 인덱싱, 필터링, 정렬, 변경 등
> 4. 중복값, 결측치, 이상치 처리 (제거 or 대체)
> 5. 데이터 Scaling (데이터 표준화(z), 데이터 정규화(min-max))
> 6. 데이터 합치기
> 7. 날짜/시간 데이터, index 다루기

## &#9989; 핵심문제 27개 (1~10)

In [1]:
# 데이터 불러오기
import pandas as pd
import numpy as np
df = pd.read_csv("mtcars.txt")
df.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [2]:
# 문제 1
# mpg 변수의 제 1사분위수를 구하고 정수값으로 출력하시오
df = pd.read_csv("mtcars.txt")

In [3]:
# (풀이)
Q1 = df['mpg'].quantile(.25)
print(round(Q1))

15

In [4]:
# 문제 2
# mpg 값이 19이상 21이하인 데이터의 수를 구하시오
df = pd.read_csv("mtcars.txt")

In [5]:
# (풀이 1)
cond1 = (df[(df['mpg']>=19) & (df['mpg']<=21)])
print(len(cond1))

# (풀이 2)
# cond1 = (df['mpg']>=19)
# cond2 = (df['mpg']<=21)
# print(len(df[cond1&cond2]))

5

In [6]:
# 문제 3
# hp 변수의 IQR 값을 구하시오
df = pd.read_csv("mtcars.txt")

In [7]:
# (풀이)
Q1 = df['hp'].quantile(.25)
Q3 = df['hp'].quantile(.75)
IQR = Q3 - Q1
print(IQR)

83.5

In [8]:
# 문제 4 
# wt 변수의 상위 10개 값의 총합을 구하여 소수점을 버리고 정수로 출력하시오
df = pd.read_csv("mtcars.txt")

In [9]:
# (풀이)
top10 = df.sort_values('wt', ascending=False)
sum_top10 = sum(top10['wt'].head(10))
print(int(sum_top10))

# top_10 = df.sort_values('wt',ascending=False).head(10)
# print(int(sum(top_10['wt']))) #주의: 소수점 반올림이 아니라 버리는 문제

42

In [10]:
# 문제 5
# 전체 자동차에서 cyl가 6인 비율이 얼마인지 소수점 첫째짜리까지 출력하시오
df = pd.read_csv("mtcars.txt")

In [11]:
cond1 = len(df[df['cyl']==6])
cond2 = len(df['cyl'])
print(round(cond1/cond2, 1))

0.2

In [12]:
# 문제 6
# 첫번째 행부터 순서대로 10개 뽑은 후 mpg 열의 평균값을 반올림하여 정수로 출력하시오
df = pd.read_csv("mtcars.txt")

In [13]:
# (풀이)
cond1 = df.head(10) # df[:10], df.loc[0:9]
mean_mpg = cond1['mpg'].mean()
print(round(mean_mpg))

20

In [14]:
# 문제 7
# 첫번째 행부터 순서대로 50% 까지 데이터를 뽑아 wt 변수의 중앙값을 구하시오
df = pd.read_csv("mtcars.txt")

In [15]:
# (풀이)
# 50% 데이터에 해당하는 행의 수 (정수로 구하기)
p50 = int(len(df)*0.5)
df50 = df[:p50]
print(df50['wt'].median())

# len(df)/2
# cond1 = df[:17]
# cond2 = cond1['wt'].median()
# print(cond2)

3.44

In [86]:
# 문제 8
# 결측값이 있는 데이터의 수를 출력하시오

# 데이터 생성(수정금지)
df = pd.DataFrame({
    '날짜' : ['20220103','20220105',None,'20230127','20220203','20220205',
            '20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B',None,'B','A',None,'A','B','A','B','A','A'],
    '판매수' : [3,None,5,10,10,10,15,15,20,None,30,40],
    '개당수익' : [300,400,500,600,400,500,500,600,600,700,600,600]
})
df.head()

         날짜    제품   판매수  개당수익
0  20220103     A   3.0   300
1  20220105     B   NaN   400
2      None  None   5.0   500
3  20230127     B  10.0   600
4  20220203     A  10.0   400

In [17]:
# (풀이)
m_value = df.isnull().sum()
print(m_value.sum())

5

In [18]:
# 문제 9 
# '판매수' 컬럼의 결측값을 판매수의 중앙값으로 대체하고 판매수의 
#  평균값을 정수로 출력하시오
df = pd.DataFrame({
    '날짜' : ['20220103','20220105',None,'20230127','20220203','20220205',
            '20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B',None,'B','A',None,'A','B','A','B','A','A'],
    '판매수' : [3,None,5,10,10,10,15,15,20,None,30,40],
    '개당수익' : [300,400,500,600,400,500,500,600,600,700,600,600]
})

In [19]:
# (풀이)
df[df['판매수'].isnull()]
median = df['판매수'].median()
df['판매수'] = df['판매수'].fillna(median)
mean = df['판매수'].mean()
print(int(mean))

15

In [20]:
# 문제 10
# 판매수 컬럼에 결측치가 있는 행을 제거하고
# 첫번째 행부터 순서대로 50%까지 데이터를 추출하여
# 판매수 변수의 Q1(제1사분위수) 값을 정수로 출력하시오
df = pd.DataFrame({
    '날짜' : ['20220103','20220105',None,'20230127','20220203','20220205',
            '20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B',None,'B','A',None,'A','B','A','B','A','A'],
    '판매수' : [3,None,5,10,10,10,15,15,20,None,30,40],
    '개당수익' : [300,400,500,600,400,500,500,600,600,700,600,600]
})

In [21]:
# (풀이)
# 결측치 삭제(행 기준)
df = df['판매수'].dropna()
# 첫번째 행부터 순서대로 50%까지의 데이터 추출
per50 = int(len(df)*0.5)
df = df[:per50]
# 값구하기
print(round(df.quantile(.25)))

# df[df['판매수'].isnull()]
# df['판매수'] = df['판매수'].dropna()
# int(len(df['판매수'])/2)
# cond1 = df['판매수'].head(6)
# Q1 = cond1.quantile(.25)
# print(int(Q1))

5

## &#9989; 핵심문제 27개 (11~20)

In [22]:
df = pd.read_csv('mtcars.txt')
df.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [23]:
# 문제 11
# cyl가 4인 자동차와 6인 자동차 그룹의 mpg 평균값이 차이를 절대값으로 정수로 출력하시오
df = pd.read_csv('mtcars.txt')

In [24]:
# (풀이)
cyl_4 = df[df['cyl']==4]
cyl_4_mean = cyl_4['mpg'].mean()

cyl_6 = df[df['cyl']==6]
cyl_6_mean = cyl_6['mpg'].mean()

print(round(abs(cyl_4_mean - cyl_6_mean)))

7

In [25]:
# 문제 12
# hp 변수에 대해 데이터표준화(Z-score)를 진행하고 이상치의 수를 구하시오
# (단, 이상치는 Z값이 1.5를 초과하거나 -1.5미만인 값이다)
df = pd.read_csv('mtcars.txt')

In [26]:
# (풀이)
# Z = (X-평균) / 표준편차
std = df['hp'].std()
mean_hp = df['hp'].mean()
df['zscore'] = (df['hp']-mean_hp)/std

cond1 = (df['zscore']>1.5)
cond2 = (df['zscore']<-1.5)
print(len(df[cond1] + df[cond2]))

2

In [27]:
# 문제 13
# mpg 컬럼을 최소최대 Scaling을 진행한 후 0.7보다 큰 값을 가지는 레코드 수를 구하라
df = pd.read_csv('mtcars.txt')

In [28]:
# (풀이)
from sklearn.preprocessing import MinMaxScaler
mscaler = MinMaxScaler()
df['mpg'] = mscaler.fit_transform(df[['mpg']])
print(len(df[df['mpg']>0.7]))

# 공식 : (x-min) / (max-min)
# min_mpg = df['mpg'].min()
# max_mpg = df['mpg'].max()
# df['mpg'] = (df['mpg'] - min_mpg)/(max_mpg - min_mpg)
# cond1 = (df['mpg']>0.7)
# print(len(df[cond1]))

5

In [29]:
# 문제 14
# wt 컬럼에 대해 상자그림 기준으로 이상치의 개수를 구하시오
df = pd.read_csv('mtcars.txt')

In [30]:
# (풀이)
# 이상치 : Q1, Q3 로부터 1.5*IQR을 넘어가는 값
Q1 = df['wt'].quantile(.25)
Q3 = df['wt'].quantile(.75)
IQR = Q3-Q1

upper = Q3 + (1.5*IQR)
lower = Q1 - (1.5*IQR)

cond1 = (df['wt'] > upper)
cond2 = (df['wt'] < lower)

print(len(df[cond1] + df[cond2]))

3

In [55]:
# 문제 15
# 판매수 컬럼의 결측치를 최소값으로 대체하고
# 결측치가 있을 때와 최소값으로 대체했을 때
# 평균값의 차이를 절대값으로 정수로 출력하시오

# 데이터 생성(수정금지)
df = pd.DataFrame({
    '날짜' : ['20220103','20220105',None,'20230127','20220203','20220205',
            '20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B',None,'B','A',None,'A','B','A','B','A','A'],
    '판매수' : [3,None,5,10,10,10,15,15,20,None,30,40],
    '개당수익' : [300,400,500,600,400,500,500,600,600,700,600,600]
})
df

          날짜    제품   판매수  개당수익
0   20220103     A   3.0   300
1   20220105     B   NaN   400
2       None  None   5.0   500
3   20230127     B  10.0   600
4   20220203     A  10.0   400
5   20220205  None  10.0   500
6   20230210     A  15.0   500
7   20230223     B  15.0   600
8   20230312     A  20.0   600
9   20230422     B   NaN   700
10  20220505     A  30.0   600
11  20230511     A  40.0   600

In [32]:
# (풀이)
# 데이터 복사
df2 = df.copy()
# 최소값으로 결측치 대체
min = df['판매수'].min()
df2['판매수'] = df2['판매수'].fillna(min)

# 결측치가 있을때, 대체했을때 평균
m_yes = df['판매수'].mean()
m_no = df2['판매수'].mean()

print(round(abs(m_yes - m_no)))

2

In [33]:
# 문제 16
# vs변수가 0이 아닌 차량 중에 mpg 값이 가장 큰 차량의 hp 값을 출력하시오
df = pd.read_csv('mtcars.txt')

In [34]:
# (풀이)
cond1 = df[df['vs']!=0]
# mpg 값이 가장 큰 차량(내림차순)
cond1 = cond1.sort_values('mpg',ascending=False)
# cond1
print(cond1['hp'].iloc[0])

65

In [35]:
# 문제 17
# gear 변수값이 3, 4인 두 그룹의 hp 표준편차값의 차이를 절대값으로 
# 소수점 첫째자리까지 출력하시오
df = pd.read_csv('mtcars.txt')

In [36]:
# (풀이)
# 두개 그룹으로 필터링
cond1 = df[df['gear']==3]
cond2 = df[df['gear']==4]
# std 구하기
std3 = cond1['hp'].std()
std4 = cond2['hp'].std()

print(round(abs(std3 - std4),1))

21.8

In [39]:
# 문제 18
# gear 변수의 갑별로 그룹화하여 mpg 평균값을 산출하고
# 평균값이 높은 그룹의 mpg 제3사분위수 값을 구하시오
df = pd.read_csv('mtcars.txt')

In [38]:
# (풀이)
df['gear'].unique()
gear3 = df[df['gear']==3]
gear4 = df[df['gear']==4]
gear5 = df[df['gear']==5]

m_3 = gear3['mpg'].mean()
m_4 = gear4['mpg'].mean()
m_5 = gear5['mpg'].mean()

(m_3, m_4, m_5) # m_4의 평균값이 가장 큼
Q3 = gear4['mpg'].quantile(.75)
print(Q3)

28.075

In [42]:
# (풀이_v2)
# gear, mpg 변수만 필터링
df = df.loc[:, ['gear', 'mpg']]

# gear 변수로 그룹화하여 mpg 평균값 보기
# print(df.groupby('gear').mean()) # gear 4그룹이 제일 높음

# gear=4인 그룹의 mpg Q3 구하기
gear4 = df[df['gear']==4]
print(gear4['mpg'].quantile(.75))

28.075

In [43]:
# 문제 19
# hp 항목의 상위 7번째 값으로 상위 7개 값을 변환한 후,
# hp가 150 이상인 데이터를 추출하여 hp의 평균값을 반올림하여 정수로 출력하시오
df = pd.read_csv('mtcars.txt')

In [49]:
# (풀이)
# hp 열 기준으로 내림차순 정렬
df = df.sort_values('hp', ascending=False)

# 인덱스 초기화 - 내림차순으로 정렬시 최초의 인덱스로 있기에
df = df.reset_index(drop=True) # drop=True 는 기존 index 삭제
# print(df)

# hp 상위 7번째 값 확인
top7 = df['hp'].loc[6] # top7 = 205

# np.where 활용
import numpy as np
df['hp'] = np.where(df['hp'] >= 205, top7, df['hp'])
# np.where(조건, 조건에 해당할 때 값, 그렇지 않을 때 값)

# hp 150이상인 데이터
cond1 = (df['hp']>=150)
df = df[cond1]
print(round(df['hp'].mean()))

187

In [50]:
# 문제 20
# car 변수에 Merc 무구가 포함된 자동차의 mpg 평균값을 정수로 출력하시오
df = pd.read_csv('mtcars.txt')

In [53]:
# (풀이)
df2 = df[df['car'].str.contains('Merc')] # 문자열 추출 알아두기
print(round(df2['mpg'].mean()))

# 시험환경에서 답구하는 방법(reset_index() 사용 후)
# 시험에서는 car가 index로 되어 있음
# df.reset_index(inplace=True)
# df2 = df[df['index'].str.contains("Merc")] 
# print(round(df2['mpg'].mean()))

19

## &#9989; 핵심문제 27개 (21~27)

In [85]:
# 문제 21
# 22년 1분기 A제품의 매출액을 구하시오
# (매출액 = 판매수*개당수익)

# 데이터 생성(수정금지)
df = pd.DataFrame({
    '날짜' : ['20220103','20220105','20230105','20230127','20220203','20220205',
            '20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B','A','B','A','B','A','B','A','B','A','A'],
    '판매수' : [3,5,5,10,10,10,15,15,20,25,30,40],
    '개당수익' : [300,400,500,600,400,500,500,600,600,700,600,600]
})
df.head()

         날짜 제품  판매수  개당수익
0  20220103  A    3   300
1  20220105  B    5   400
2  20230105  A    5   500
3  20230127  B   10   600
4  20220203  A   10   400

In [76]:
# # (풀이)
# cond1 = df[df['날짜']<='20220431']
# cond2 = cond1[cond1['제품']=='A']
# cond2['매출액'] = (cond2['판매수']*cond2['개당수익'])
# cond2

# print(cond2['매출액'].sum())

In [74]:
# (풀이_v2)
# 데이터 타입 datetime으로 변경
df['날짜'] = pd.to_datetime(df['날짜'])

# 년, 월, 일 변수(열) 추가하기
df['year'] = df['날짜'].dt.year
df['month'] = df['날짜'].dt.month
df['day'] = df['날짜'].dt.day

# 매출액 변수 추가하기
df['매출액'] = df['판매수'] * df['개당수익']

# 22년으로 필터링
df = df[df['year']==2022]
df.head()

# 1,2,3월 매출액 계산
m1 = df[df['month']==1]['매출액'].sum()
m2 = df[df['month']==2]['매출액'].sum()
m3 = df[df['month']==3]['매출액'].sum()
print(m1+m2+m3)

11900

C:\Users\Hyunsoo Kim\AppData\Local\Temp\ipykernel_2420\876841120.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['날짜'] = pd.to_datetime(df['날짜'])
C:\Users\Hyunsoo Kim\AppData\Local\Temp\ipykernel_2420\876841120.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = df['날짜'].dt.year
C:\Users\Hyunsoo Kim\AppData\Local\Temp\ipykernel_2420\876841120.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = df['날짜'].dt.month
C:\Users\Hyunsoo Kim\AppData\Local\Temp\ipykernel_2420\876841120.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['day'] = df['날짜'].dt.day
C:\Users\Hyunsoo Kim\AppData\Local\Temp\ipykernel_2420\876841120.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['매출액'] = df['판매수'] * df['개당수익']

In [84]:
# 문제 22
# 22년과 23년의 총 매출액 차이를 절대값으로 구하시오
# (매출액 = 판매수*개당수익)

# 데이터 생성(수정금지)
df = pd.DataFrame({
    '날짜' : ['20220103','20220105','20230105','20230127','20220203','20220205',
            '20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B','A','B','A','B','A','B','A','B','A','A'],
    '판매수' : [3,5,5,10,10,10,15,15,20,25,30,40],
    '개당수익' : [300,400,500,600,400,500,500,600,600,700,600,600]
})
df.head()

         날짜 제품  판매수  개당수익
0  20220103  A    3   300
1  20220105  B    5   400
2  20230105  A    5   500
3  20230127  B   10   600
4  20220203  A   10   400

In [81]:
# (풀이)
# 데이터 타입 datetime으로 변경
df['날짜'] = pd.to_datetime(df['날짜'])

# 년 변수(열) 추가하기
df['year'] = df['날짜'].dt.year

# 매출액 변수 추가하기
df['매출액'] = df['판매수'] * df['개당수익']

cond22 = df[df['year']==2022]
cond23 = df[df['year']==2023]

print(abs((cond22['매출액'].sum()) - (cond23['매출액'].sum())))

48600

In [88]:
# 문제 23
# 23년 총 매출액이 큰 제품의 23년 판매수를 구하시오
# (매출액 = 판매수*개당수익)

# 데이터 생성(수정금지)
df = pd.DataFrame({
    '날짜' : ['20220103','20220105','20230105','20230127','20220203','20220205',
            '20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B','A','B','A','B','A','B','A','B','A','A'],
    '판매수' : [3,5,5,10,10,10,15,15,20,25,30,40],
    '개당수익' : [300,400,500,600,400,500,500,600,600,700,600,600]
})
df.head()

         날짜 제품  판매수  개당수익
0  20220103  A    3   300
1  20220105  B    5   400
2  20230105  A    5   500
3  20230127  B   10   600
4  20220203  A   10   400

In [94]:
# 데이터 타입 datetime으로 변경
df['날짜'] = pd.to_datetime(df['날짜'])

# 년 변수(열) 추가하기
df['year'] = df['날짜'].dt.year

# 매출액 변수 추가하기
df['매출액'] = df['판매수'] * df['개당수익']

df = df[df['year']==2023]
# df.head()

# 23년 A 매출액과 B 매출액 별도로 구하기
# A 매출액
df_a = df[df['제품']=='A']
a_sales = df_a['매출액'].sum()
# print(a_sales) # 46000

# B 매출액
df_b = df[df['제품']=='B']
b_sales = df_b['매출액'].sum()
# print(b_sales) # 32500

# A 제품의 23년 판매수
a_sum = df_a['판매수'].sum()
print(a_sum)

80

In [104]:
# 문제 24
# 매출액이 4천원 초과, 1만원 미만인 데이터 수를 출력하시오
# (매출액 = 판매수*개당수익)

# 데이터 생성(수정금지)
df = pd.DataFrame({
    '날짜' : ['20220103','20220105','20230105','20230127','20220203','20220205',
            '20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B','A','B','A','B','A','B','A','B','A','A'],
    '판매수' : [3,5,5,10,10,10,15,15,20,25,30,40],
    '개당수익' : [300,400,500,600,400,500,500,600,600,700,600,600]
})
df.head()

         날짜 제품  판매수  개당수익
0  20220103  A    3   300
1  20220105  B    5   400
2  20230105  A    5   500
3  20230127  B   10   600
4  20220203  A   10   400

In [105]:
# (풀이)
df['매출액'] = df['판매수'] * df['개당수익']
cond1 = df['매출액']>4000
cond2 = df['매출액']<10000

df = df[cond1&cond2]
print(len(df))

4

In [114]:
# 문제 25
# 23년 9월 24일 16:00~22:00 사이에 전체 제품의 판매수를 구하시오

# 데이터 생성(수정금지)
df = pd.DataFrame({
    '물품' : ['A','B','A','B','A','B','A'],
    '판매수' : [5,10,15,15,20,25,40],
    '개당수익' : [500,600,500,600,600,700,600]})
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods=7)
df['time'] = time
df = df[['time', '물품', '판매수', '개당수익']]
df

                 time 물품  판매수  개당수익
0 2023-09-24 12:25:00  A    5   500
1 2023-09-24 16:48:25  B   10   600
2 2023-09-24 21:11:50  A   15   500
3 2023-09-25 01:35:15  B   15   600
4 2023-09-25 05:58:40  A   20   600
5 2023-09-25 10:22:05  B   25   700
6 2023-09-25 14:45:30  A   40   600

In [110]:
# (풀이)
# 컬럼과 인덱스에 둘다 time 변수를 놓고 풀이
# 데이터 타입 datetime으로 변경 (항상 df.info()로 데이터 타입 확인할 것)
df['time'] = pd.to_datetime(df['time'])

# index 새로 지정
df = df.set_index('time', drop=False) # default는 True

# 9월 24일 필터링 // df['변수'].between( , )
df_after = df[df['time'].between('2023-09-24', '2023-09-25')] # 25일은 미포함

# 시간 필터링 16:00 ~ 22:00 (주의: 시간이 index에 위치해야 함)
df = df_after.between_time(start_time='16:00', end_time='22:00') # 포함 기준

# 전체 판매수 구하기
print(df['판매수'].sum())

25

In [115]:
# (풀이2) // 위에 df 새로 불러와서 실행해보기
# 데이터 타입 datetime으로 변경
df['time'] = pd.to_datetime(df['time'])

# index 새로 지정
df = df.set_index('time')

# loc 함수로 필터링
df = df.loc[(df.index >= '2023-09-24 16:00:00') & (df.index <= '2023-09-24 22:00:00')]

# 전체 판매수 구하기
print(df['판매수'].sum())

25

In [120]:
# 문제 26
# 9월 25일 00:10~12:00까지의 B물품의 매출액 총합을 구하시오
# (매출액 = 판매수*개당수익)

# 데이터 생성(수정금지)
df = pd.DataFrame({
    '물품' : ['A','B','A','B','A','B','A'],
    '판매수' : [5,10,15,15,20,25,40],
    '개당수익' : [500,600,500,600,600,700,600]})
df['time'] = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods=7)
df = df[['time', '물품', '판매수', '개당수익']]
df = df.set_index('time',drop=True)
df

                    물품  판매수  개당수익
time
2023-09-24 12:25:00  A    5   500
2023-09-24 16:48:25  B   10   600
2023-09-24 21:11:50  A   15   500
2023-09-25 01:35:15  B   15   600
2023-09-25 05:58:40  A   20   600
2023-09-25 10:22:05  B   25   700
2023-09-25 14:45:30  A   40   600

In [122]:
# (풀이)
# 매출액 변수 추가
df['매출액'] = df['판매수'] * df['개당수익']

# loc 함수로 필터링
df = df.loc[(df.index >= '2023-09-25 00:10:00') & (df.index <= '2023-09-25 12:00:00')]

# B 물품의 매출액 총합
cond1 = df[df['물품']=='B']
print(cond1['매출액'].sum())

26500

C:\Users\Hyunsoo Kim\AppData\Local\Temp\ipykernel_2420\1645811142.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['매출액'] = df['판매수'] * df['개당수익']

In [123]:
# 문제 27
# 9월 24일 12:00~24:00까지의 A물품의 매출액 총합을 구하시오
# (매출액 = 판매수*개당수익)

# 데이터 생성(수정금지)
df = pd.DataFrame({
    '물품' : ['A','B','A','B','A','B','A'],
    '판매수' : [5,10,15,15,20,25,40],
    '개당수익' : [500,600,500,600,600,700,600]})
df['time'] = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods=7)
df = df[['time', '물품', '판매수', '개당수익']]
df = df.set_index('time',drop=True)
df

                    물품  판매수  개당수익
time
2023-09-24 12:25:00  A    5   500
2023-09-24 16:48:25  B   10   600
2023-09-24 21:11:50  A   15   500
2023-09-25 01:35:15  B   15   600
2023-09-25 05:58:40  A   20   600
2023-09-25 10:22:05  B   25   700
2023-09-25 14:45:30  A   40   600

In [125]:
# (풀이)
# 매출액 변수 추가
df['매출액'] = df['판매수'] * df['개당수익']

# loc 함수로 필터링
df = df.loc[(df.index >= '2023-09-24 12:00:00') & (df.index < '2023-09-25 00:00:00')]

# A 물품의 매출액 총합
cond1 = df[df['물품']=='A']
print(cond1['매출액'].sum())

10000