---
title: 'Python 기초'
author: 'Hyunsoo Kim'
date: '2022-03-18'
categories: [Python, Numpy]
image: python.png
jupyter: python3
page-layout: full
> "basic 기본 코드 실습"
---

### Python language bascis
#### language semantics
##### Identation, not braces  // 들여쓰기

for x in array:
    if x < pivot :
        less.append(x)
    else:
        greater.append(x)
    
a=5; b=6; c=7

In [17]:
a=5; b=6; c=7

In [18]:
c

7

##### Everything is an object // 오브젝트를 기본 할당하고 동작함
##### Comments

result =[]
for line in file_handle:
    # keep the empty line for now
    # if len(line) == 0:
    #   continue
    result.append(line.replace('foo','bar'))
print("Reach this line") #simple statis report

##### Function and object method calls

  result = f(x,y,z)
  g()

  obj.some_method(x,y,z)
result = f(a,b,c,d=5,e='foo')

##### Variables and argument passing

In [8]:
a=[1,2,3]

In [9]:
b=a

In [10]:
a.append(4) #뒤에 붙여줌 
b

[1, 2, 3, 4]

In [11]:
a=5
type(a) #int - integer - 수치형

int

In [12]:
a='foo'
type(a)

str

In [13]:
'5'+5

TypeError: can only concatenate str (not "int") to str

In [1]:
a=4.5
b=2
# String formatting, to be visted later
print('a is {0}, b is {1}'.format(type(a),type(b)))
a/b

a is <class 'float'>, b is <class 'int'>

2.25

In [3]:
a=5
isinstance(a,int)

True

In [6]:
a=5; b=4.5
isinstance(a,(int,float))
isinstance(b,(int,float))

True

In [17]:
a='foo' #Tab 키를 누르면 다양한 옵션이 나오면서 대문자화 카운트등 여러옵션 존재

In [7]:
a.<Press Tab>

SyntaxError: invalid syntax (3084391244.py, line 1)

In [19]:
a.upper()

'FOO'

In [20]:
getattr(a,'split') #object에 속한 속성을 가지고 온다

#### Duck typing

In [8]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not literable
        return False

In [12]:
isiterable('a string')

True

In [13]:
isiterable([1,2,3])

True

In [14]:
isiterable(5)

False

if not isinstance(x,list) and isiterable(x): x=list(x)

#### Imports
In Python a module is simply a file with the .py extension containing Python code. Suppose that we had the following module:

If you wanted to access the variables and functions defined in some_module.py, from another file in the same directory we could do:

In [1]:
import some_module #같은 디렉토리의 .py파일을 불러와서 사용가능 

result = some_module.f(5)
result

7

In [2]:
pi = some_module.PI
pi

3.14159

Or equivalently:

In [4]:
from some_module import f,g,PI
result = g(5,PI)
result

8.14159

By using the as keyword you can give imports different variable names:

In [5]:
import some_module as sm
from some_module import PI as pi, g as gf

r1 = sm.f(pi)
r2 = gf(6,pi)

In [6]:
r1

5.14159

In [7]:
r2

9.14159

#### Binary operators and comparisons

Most of the binary math operations and comparisons are as you might expect:

In [8]:
5-7
12+21.5
5 <= 2

False

In [9]:
a = [1,2,3]
b=a
c=list()
a is b
a is not c

True

In [10]:
a == c

False

In [11]:
a = None
a is None

True

##### Mutable and immutable objects
Most object in Python such as list, dict, NumPy arrays, and most user-defined types(classes), are mutable.

This means that the object or values that they contain can be modified

In [13]:
a_list = ['foo',2,[4,5]]
a_list[2] = (3,4)
a_list

['foo', 2, (3, 4)]

Others, like strings and tuples, are immutable:

In [16]:
a_tuple = (3,5,(4,5))
a_tuple[1] = 'four' #tuple은 변경이 불가능 하다 / list는 가능

TypeError: 'tuple' object does not support item assignment

#### Scalar Types
##### Numeric types
The primary Python types for numbers are int and float. An int can store arbitrarily large numbers:

In [6]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

Floating-point numbers are represented with the Python float type. Under the hood each one is a double-precision(64-bit) value. They can also be expressed with scientific notation:

In [7]:
fval = 7.2343
fval2 = 6.78e-5

In [8]:
3/2

1.5

In [9]:
type(3/2)

float

In [10]:
3//2 #몫

1

In [11]:
type(3//2)

int

#### Strings
Many people use Python for its powerful and flexible built-in string processing capabilities.

You can write string literals using either single quotes `or double quotes`:

In [12]:
a = 'one way of writing a string'
b = 'another way'

For multiline strings with line breaks, you can use triple qutoes, either ''' or """

In [16]:
c = """ 
This is a longer string that
spans multiple lines
"""

In [17]:
c

' \nThis is a longer string that\nspans multiple lines\n'

It may surprise you that this string c actually contains for lines of text;

the line breaks after """ and after lines are include in the string.

We can count the new line characters with the count method on c:

In [18]:
c.count('\n')

3

Python strings are immutable;  you cannot modify a string:

In [19]:
a = 'this is a string'
a[10] = 'f' #변형불가

TypeError: 'str' object does not support item assignment

In [20]:
b = a.replace('string','longer string')
b

'this is a longer string'

In [21]:
a #변형은 안되나 대체는 가능

'this is a string'

Many Python object can be converted to a string using the str function

In [22]:
a = 5.6
s = str(a)
print(s)

5.6

Strings are a sequnce of Unicode characters and therefore can be treated like other sequences, such as lists and tuples(which we will explore in more detail in the next chapter):

In [23]:
s='python'
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [24]:
s[:3]

'pyt'

The syntax s[:3] is called `slicing` and is implemented for many kinds of Python sequences. This will be explained in moire detail later on, as it it used extensively in the book.

The backslash character \ is an escape character, meaning that it is used to specify special characters like newline \n or Unicode characters. To write a string literal with backslashes, you need to escape them:

In [25]:
print('12\n34') #\n is Enter

12
34

In [31]:
s = '12\\34' #백슬래쉬를 문자열로 바꾼다 
print(s)

12\34

Adding two strings together concatenates them and produces a new string:

In [33]:
a='this is the first half '
b='and this is the second half'
a+b

'this is the first half and this is the second half'

String templating or formatting is another important topic.

The number of ways tod do so has expanded with the advent of Python 3,

and here I will briefly describe the mechanics of one of the main interfaces.

`String objects have a format method` that can be used to substitute formatted arguments into the string, producting a new string:

In [34]:
template = '{0:.2f} {1:s} are worth US${2:d}'
template

'{0:.2f} {1:s} are worth US${2:d}'

- {0:.2f} means to format the first argument as a floating-point number with two decimal places.
- {1:s} means to format the second argument as a string.
- {2:d} means to format the third argument as an exact integer

In [35]:
template.format(4.560, 'Argentine Pesos',1)

'4.56 Argentine Pesos are worth US$1'

In [36]:
template.format(1263.23,'won',1)

'1263.23 won are worth US$1'

#### Booleans

###### The two boolean value in python are written as True as False.

###### Comprasions and other conditional expressions evaluate to either True or False.

###### Boolean values are combined with the and or keywords:

In [37]:
True and True

True

In [38]:
False or True

True

##### Type casting

The str, bool, int, and float types are also functions that can be used to cast values

In [39]:
s='3.14159'
fval=float(s)
type(fval)

float

In [40]:
int(fval)

3

In [41]:
bool(fval)

True

In [42]:
bool(0)

False

#### None
None is the Python null value type. If a function does not explicitly return a value, it implicitly returns None:

In [43]:
a = None
a is None

True

In [44]:
b = 5
b is not None

True

None is also a common default vlaue for function arguments:

In [45]:
def add_and_maybe_multiply(a,b,c=None):
    result = a+b

    if c is not None:
        result = result * c
    
    return result

In [46]:
add_and_maybe_multiply(5,3)

8

In [47]:
add_and_maybe_multiply(5,3,10)

80

While a technical point, it's worth bearing in mind that None is not only a reserved keyword but also a unique instance of NoneType:

In [48]:
type(None)

NoneType

#### Dates and times

The built-in Python datetime module provides datetime, date, and time types.

The datetime type, as you may imagine, combines the information stored in date and time and is the most commonly used:

In [50]:
from datetime import datetime, date, time
dt = datetime(2011,10,29,20,30,21) #year,month,day,hour,minute,second
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [51]:
dt.day

29

In [52]:
dt.minute

30

Given a datetime instance, you can extract the equivalent date and time objects by calling methods on the datetime of the same name:

In [53]:
dt.date()

datetime.date(2011, 10, 29)

In [54]:
dt.time()

datetime.time(20, 30, 21)

The strfime method formats a datetime as a string:

In [55]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [56]:
dt.strftime('%Y/%m/%d %H:%M')

'2011/10/29 20:30'

String can be converted (parsed) into datetime objects with the strptime function:

In [57]:
datetime.strptime('20091031',"%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

When you are aggregating or otherwise grouping time series data, it will occasionally be useful to replace time fields of a series of datetimes-for example,replacing the minute and second fields with zero:

In [58]:
dt.replace(minute=0,second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [59]:
dt2 = datetime(2011,11,15,22,30) 
delta =dt2 - dt #dt = datetime(2011,10,29,20,30,21)
delta

datetime.timedelta(days=17, seconds=7179)

In [60]:
type(delta)

datetime.timedelta

In [61]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

### Control Flow
Python has several built-in keywords for conditonal logic, loops, and other standard control flow concepts found in other porgramming languages.

#### if, elif, and else
The if statement is one of the most well-known control flow statement types.

It checks a conditon that, if True, evaluates the code in the block that follows:

In [63]:
x = -5
if x < 0:
    print('It is negative')

It is negative

An if statement can be optionally followed by one or mor elif blocks and a catch all else block if all of the conditions are False

In [64]:
x = -5

if x < 0 :
    print('It is negative')
elif x == 0 :
    print('Equal to zero')
elif 0 < x < 5 :
    print('Postive but smaller than 5')
else :
    print('Postive and larger than or equal to 5')

It is negative

If any of the conditions is True, no futher elif or else blocks will be reached.

With a compound condition using and or or, conditions are evaluated left to right and will short-circuit:

In [65]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d :
    print('Made it')

Made it

In this examplme, the comparison c > d never get evaluated because the first compar- ison was True.
It is also possible to chain comparisons:

In [66]:
4 > 3 > 2 > 1

True

In [67]:
3 > 5 or 2 > 1

True

In [68]:
3>5>2>1

False

#### for loops
for loops are fir iterating over a collection (like a list or tuple) or an iterater. They standard syntax for a for loop is:

 for value in collection:
    # do something with value

You can advance a for loop to the next iteration, skipping the remainder of the block, using the continue keyword.

Consider this code, which sums up integers in a list and skips None values

In [69]:
sequnce = [1,2,None,4,None,5]
total = 0

for value in sequnce:
    total += value

TypeError: unsupported operand type(s) for +=: 'int' and 'NoneType'

In [70]:
sequnce = [1,2,None,4,None,5]
total = 0

for value in sequnce:
    if value is None:
        continue
    total += value

In [71]:
total

12

A for loop cna be exited altogether with the break keyword. This code sums ele- ments of the list until a 5 is reached:

In [72]:
sequnce = [1,2,0,4,6,5,2,1]
total_until_5 = 0

for value in sequnce:
    if value == 5:
        break
    total_until_5 += value

In [73]:
total_until_5 #값이 5가 되면 멈추는 조건으로 1+2+0+4+6까지 계산후 5가 오기에 for문이 종료된다

13

The break keyword only terminates the innermost for loop; any outer for loops will continue to run:

In [74]:
for i in range(4):
    for j in range(4):
        if j>i:
            break
        print((i,j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

As we will see in more detail, if the elements in the collection or iterator are sequences (tuples or list, say),
they can be conveniently unpacked into variables in the for loop statement:

for a,b,c in iterator:
    # do something

In [1]:
for a,b,c in [[1,2,3],[4,5,6],[7,8,9]]:
    print(a,b,c)

1 2 3
4 5 6
7 8 9

##### While loops
A while looops specifies a conditon and a block o f code that is to be excused until the condition evaluates to False or the loops is explicitly ended with break:

In [7]:
x = 256
total = 0
while x > 0:
    if total > 500 :
        break
    total += x
    x = x //2

In [8]:
total #504

504

In [9]:
x

4

In [10]:
256+128+64+32+16+8

504

##### pass
pass is the "no-op"(No Operation) statement in Python. It can be used in block where no action is to be taken (or as a placeholder for code not yer implemented); it is only required
becauese Python uese whitespace to delimit blocks:

In [1]:
x = -1

if x < 0:
    print('negative')
elif x == 0:
    # TODO: put something smart here
    pass
else:
    print('Postive!')

negative

##### range
The range function returns an iterator that yields a sequnce of evenly spaced intergers:

In [2]:
range(10)

range(0, 10)

In [3]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Both a start,end,and step(Which may be negative) can be given:

In [4]:
list(range(0,20,2)) #등차수열

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [5]:
list(range(5,0,-1)) #리버스 인덱스

[5, 4, 3, 2, 1]

As you can see, range prodices integers up to but not including the endpoint.

A common use of range is for iterating through sequcnes by index:

In [6]:
seq = [1,2,3,4]
for i in range(len(seq)):
    val = seq[i]

In [7]:
val

4

While you can use fuctions loke list to store all the integers generated by range in some other data structure, often the default iterator form will be what you want. This snippet sums all numbers form 0 to 99,999 that are multiples of 3 or 5:

In [8]:
sum = 0
for i in range(10000) :
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        sum += 1

#### Ternary expressions
value = true - expr if conditon else false - expr

Here, true-expr and false-expr cna be any Python expressions. It has the identical effect as the more verbose:

if conditon:
  value = true-expr
else:
  value = false-expr

In [9]:
x = 5
'Non-negative' if x >= 0 else 'Negative'

'Non-negative'

In [11]:
x = 5

a = 100 if x>= 0 else -100
a

100